<div class="row g-0">
  

    <!--App Carousel-->
 <app-carousel></app-carousel>
 <!-- End App Carousel-->
 
 <div class="row col-12 my-3">
    <h3>últimos Partidos</h3>
 <!-- SocoreBoard-->
 <app-scoreboard></app-scoreboard>
 <!--End Scoreboard-->
</div>

<!--Categories-->
<div class="my-5">
    <h3>Categorias</h3>
    <app-categorias></app-categorias>
</div>
<!--End Categories-->


 <!--Personal-->
<div style="margin-top: 400px;">
    <h3>Nuestro Personal</h3>
    <app-personal></app-personal>
</div>
<!--End Categories-->

<!--footer-->
<app-footer></app-footer>
<!--End Footer-->

</div>