<div class="row g-0">

    <!--Header-->
    <div class="col-12">

        <!--Title-->
        <div class="row-g-0">


            <div class="col-12 px-3">
                <h2>Jugadores 4tas Varonil</h2>
            </div>


        </div>
    </div>

    <!--Players-->
    <div class="col-12">
        <div class="row g-0">
            <div class="col-3">
                <app-jugador></app-jugador>
            </div>
        </div>
    </div>
</div>

<!-- <h1>Jugadores <small>4tas Varonil</small></h1>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">

</div> -->

