<div class="row g-0">


    <!-- Header-->
    <div class="col-12">
        <div class="row g-0">
    
    
            <!-- Title -->
            <div class="col-12 px-3 text-white">
                <h2>Partido</h2>
            </div>
            <!-- Title -->
    
    
        </div>
    </div>
    <!--End Header-->

    <div class="col-12">
        <div class="row g-0">


            <div class="col-10 mx-auto">


                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Marcador</th>
                            <th scope="col">Resultado</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Estudiantes Morelia</td>
                            <td>0-2</td>
                            <td style="background-color: red;">Derrota</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jesús del Monte</td>
                            <td>7-0</td>
                            <td style="background-color: green;">Victoria</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>DVO Rio Grande</td>
                            <td>3-3</td>
                            <td style="background-color: yellow;">Empate</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>

        </div>
    </div>


    <div class="col-12">
        <div class="row g-0">


            <div class="col-10 mx-auto">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Posición</th>
                            <th scope="col">Equipo</th>
                            <th scope="col">Victorias</th>
                            <th scope="col">Empates</th>
                            <th scope="col">Derrotas</th>
                            <th scope="col">GF</th>
                            <th scope="col">GC</th>
                            <th scope="col">DG</th>
                            <th scope="col">PTS</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Estudiantes Morelia</td>
                            <td>2</td>
                            <td>1</td>
                            <td>0</td>
                            <td>2</td>
                            <td>0</td>
                            <td>2</td>
                            <td>7</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Brujos Morelia</td>
                            <td>2</td>
                            <td>0</td>
                            <td>1</td>
                            <td>2</td>
                            <td>2</td>
                            <td>0</td>
                            <td>4</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
            </div>

        </div>
    </div>


    <div class="col-12">


        <div class="row">


            <div class="col-12 d-flex flex-row flex-wrap justify-content-center justify-content-md-start">
                        <!-- animation item -->
        <div class="animation-item pl-3 pr-3">
            <div class="animation-graph-container mb-3">
    
              <svg viewBox="-2 -2 40 60">
                <path class="circle-bg" d="M18 2.0845
                                           a 15.9155 15.9155 0 0 1 0 31.831
                                           a 15.9155 15.9155 0 0 1 0 -31.831"
                      />
                <path class="graph-circle" stroke-dasharray="33, 100"
                      d="M18 2.0845
                         a 15.9155 15.9155 0 0 1 0 31.831
                         a 15.9155 15.9155 0 0 1 0 -31.831"
                      />
                <text x="11.5" y="21.5" font-family="Roboto-Light" font-size="10px" class="graph-text">33%</text>
              </svg>
    
            </div>
    
            <h5 style="color: white;">Victorias</h5>
    
          </div>
          <!-- **END** animation item -->
  
          <div class="animation-item pl-3 pr-3">
              <div class="animation-graph-container mb-3">
      
                <svg viewBox="-2 -2 40 60">
                  <path class="circle-bg" d="M18 2.0845
                                             a 15.9155 15.9155 0 0 1 0 31.831
                                             a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                  <path class="graph-circle" stroke-dasharray="33, 100"
                        d="M18 2.0845
                           a 15.9155 15.9155 0 0 1 0 31.831
                           a 15.9155 15.9155 0 0 1 0 -31.831"
                        />
                  <text x="11.5" y="21.5" font-family="Roboto-Light" font-size="10px" class="graph-text">33%</text>
                </svg>
      
              </div>
      
              <h5 style="color: white;">Empates</h5>
      
            </div>
    
          <!-- animation item -->
          <div class="animation-item pl-6 pr-6">
            <div class="animation-graph-container mb-2">
    
              <svg viewBox="-2 -2 40 60">
                <path class="circle-bg" d="M18 2.0845
                                           a 15.9155 15.9155 0 0 1 0 31.831
                                           a 15.9155 15.9155 0 0 1 0 -31.831"
                      />
                <path class="graph-circle" stroke-dasharray="33, 100"
                      d="M18 2.0845
                         a 15.9155 15.9155 0 0 1 0 31.831
                         a 15.9155 15.9155 0 0 1 0 -31.831"
                      />
                <text x="9.5" y="21.5" font-family="Roboto-Light" font-size="10px" class="graph-text">33%</text>
              </svg>
    
            </div>
    
            <h5 style="color: white;">Derrotas</h5>
    
          </div>
          <!-- **END** animation item -->
            </div>

        </div>


    </div>


    


</div>

