.animation-item {
    margin-bottom: 1rem;
    width: 33%;
  }
  
  .graph-text {
    fill: var(--color-main1);
  }
  
  .animation-graph-container {
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 15rem;
  }
  .animation-graph-container .circle-bg {
    fill: none;
    stroke: white;
    stroke-width: 3;
  }
  .animation-graph-container .graph-circle {
    fill: none;
    stroke-linecap: initial;
  }
  .animation-graph-container .circle-animation {
    stroke-width: 3;
    stroke: var(--color-main1);
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }