#ulLi{
    text-decoration: none;
    list-style: none;
  }
  #li1{
    margin-top: 15%;
    margin-bottom: 15%;
    text-decoration: none;
  }
  #myFooter {
      background-color: #e94c3d;
      position: relative;
      margin-top: 500px;
      bottom: 0;
  }