<div class="col-12">
<footer id="myFooter">
    <br><br>
    <div>
      <div class="container">
        <div class="row justify-content-around">
          <div class="col-2">
            <div class="text-center">
            <img src="imagenes/escudo_brujos.jpg" alt="FarmaPeri" width="100" height="100" class="text-center" style="border-radius: 80px;">
            </div> 
            <br>
            <div>
              <a class= "link-light" href="https://www.google.com.mx/maps/place/SIEMSA+Centro+de+Ingenier%C3%ADa/@19.6893147,-101.1469006,17z/data=!3m1!4b1!4m6!3m5!1s0x842d0fadd6e71c15:0x1d7759c2b4a5a292!8m2!3d19.6893097!4d-101.1447119!16s%2Fg%2F11h26wm5dr">
              Ocolusen 1640, Rincón de Ocolusen, 58270 Morelia, Mich.
              </a>
          </div>
          <br>
          <div>
          <h6 class="text-white">Telefonos: </h6>
            <a class="text-light">443-586-0305</a>
            <br>
            <a class="text-light">443-481-8672</a>
          </div>
          </div>
          <div class="col-2">
            <ul id="ulLi" class="fg-link-box">
              <li id="li1"><a class="text-decoration-none text-white">Categorías</a></li>
              <li id="li1"><a class="text-decoration-none text-white">Acerca de Brujos Morelia</a></li>
              <li id="li1"><a class="text-decoration-none text-white">Jugadores</a></li>
              <li id="li1"><a class="text-decoration-none text-white">Estadisticas</a></li>
                      </ul>
          </div>
          <div class="col-2">
              <h6 class="text-white">Ayuda: </h6>
              <ul id="ulLi" class="fg-link-box">
                <li id="li1"><a class="text-decoration-none text-white">Contacto</a></li>
                <li id="li1"><a class="text-decoration-none text-white">Preguntas frecuentes</a></li>
                <li id="li1"><a class="text-decoration-none text-white">Conocenos</a></li>
                <li id="li1"><a class="text-decoration-none text-white">Buzon de opiniones</a></li>
                <li id="li1"><a class="text-decoration-none text-white">Terminos y condiciones</a></li>
                        </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
  