<div class="row g-0">
    
    <div class="col-12">

    <div id="carouselExampleIndicators" class="carousel slide">

         <!--Indicators-->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <!--End Indicators-->


        <div class="carousel-inner">


          <div class="carousel-item active">
            <img src="https://s1.significados.com/foto/imagen-de-destaque-que-es-el-futbol.-jugadores-y-balon.jpg?class=ogImageRectangle" class="d-block w-100" alt="...">
          </div>


          <div class="carousel-item">
            <img src="https://imagenes.muyinteresante.es/files/vertical_composte_image/uploads/2022/11/19/637902d7c08c5.jpeg" class="d-block w-100" alt="...">
          </div>


          <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqZqfjekTgIr7mx74bfMd4SAtZRHmOs1FpWQ&usqp=CAU" class="d-block w-100" alt="...">
          </div>


        </div>

        
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>


      </div>

</div>