<div class="row g-0">


    <!-- Header-->
    <div class="col-12">
        <div class="row g-0">


            <!-- Title -->
            <div class="col-12 px-3 text-white">
                <h2>Partido</h2>
            </div>
            <!-- Title -->
        </div>


    </div>

    <div class="col-12">
         <div class="card text-center mb-3 mx-auto" style="width: 65rem;">
            <div class="card-body">
                <div class="col-12">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="../../../../../assets/images/public/escudo_feo.png" width="150px" height="150px">
                            <p class="text-white fs-2 pt-3">1</p>
                        </div>
                        <div class="col-4 pt-5">
                            -
                        </div>
                        <div class="col-4 ">
                            <img src="../../../../../assets/images/public/escudo_feo.png" width="150px" height="150px">
                            <p class="text-white fs-2 pt-3">1</p>
                        </div>
                    </div>
                </div>
                <p class="card-text text-white">FINALIZADO</p>
                <p class="card-text text-white">10/04/2024</p>
                <p class="card-text text-white">UDC #34</p>
                <p class="card-text text-white">8:00 am</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          
    </div>
</div>