.contenedorEquipo {
    margin: 0px 0px 15px 0px;
   
  }
  
  .base {
    width: 80%;
    margin: 0px auto;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 50px;
    background: rgba(0, 0, 0, 1);
    overflow: hidden;
    border: 5px solid white;
    font-family: bebas, Verdana, Geneva, sans-serif;
    color: white;
  }
  
  .panel {
    width: 100%;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
    background-color: #1e223c;
    /* display: block; */
    /* float: left; */
    position: relative;
    top: 0px;
  }
  
  .equipo-superior {
    width: 50%;
    float: left;
    color: white;
    height: 100%;
    overflow: hidden;
  }
  
  .equipo-superior img {
    width: 100px;
    margin: 0px 20px;
  }
  
      .float-izquierda{
          float: left !important;
      }
      .float-derecha{
          float: right !important;
      }
  
  .panel-superior .izquierdo {
    background: linear-gradient(to right, rgb(245, 72, 72) 0%, rgba(255, 146, 10, 0) 100%);
  }
  
  .panel-superior .izquierdo span {
    float: left;
  }
  
  .panel-superior .derecho span {
    float: right;
  }
  
  .panel-superior .derecho {
    background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 1) 53%, rgba(30, 87, 153, 1) 100%);
  }
  
  .estadisticas p {
    height: 0px;
    font-size: 25px;
    margin-top: 5px;
  }
  
  .marcadores {
    width: 100%;
    position: relative;
    height: 60px;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px #fff;
  }
  
  .marcadores .derecho {
    background: rgba(30, 87, 153, 1);
    box-shadow: 0px 0px 0px 3px #1e223c inset, 0px 0px 25px 0px #1e223c inset;
    border-radius: 0px 10px 10px 0px;
  }
  
  .marcadores .izquierdo {
    background: #e94c3d;
    box-shadow: 0px 0px 0px 3px #1e223c inset, 0px 0px 25px 0px #1e223c inset;
    border-radius: 10px 0px 0px 10px;
  }
  
  .marcadores div {
    float: left;
    height: 100%;
    line-height: 35px;
    text-align: center;
  }
  
  .marcadores div p {
    margin: 10px 0px 0px 5px;
    width: 60%;
    font-size: 24px;
  }
  
  .equipo-marcador {
    width: 33%;
  }
  
  .marcador-tiempo {
    width: 34%;
    font-size: 26px;
    line-height: 50px !important;
    color: white;
  }
  
  .marcador-tiempo time {
    line-height: 50px;
  }
  
  .marcador-goles {
    background: white;
    width: 25%;
    height: 40px !important;
    margin: 10px 5px;
    box-shadow: 0px 0px 0px 1px black;
    color: #1e223c;
    line-height: 36px !important;
    text-align: center;
    font-size: 24px;
    /*margin-left: 33px;*/
  }
  
  .equipo-inferor {
    width: 33%;
    /* line-height: 38px; */
    /* vertical-align: middle; */
    text-align: center;
  }
  
  .inferior-boton {
    width: 34%;
  }
  
  .imagen-estrella {
    width: 30px;
    margin: 20px 0px 0px 1px;
  }
  
  .inferior-boton {
    text-align: center;
  }
  
  .inferior-boton button {
    background-color: #e8065b;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 5px 50px;
    box-shadow: 0px 0px 10px 2px black inset;
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
    font-size: 20px;
    transition: all 0.5s ease-out;
  }
  
  .inferior-boton button:hover {
    background-color: #e8065b;
    box-shadow: 0px 0px 3px 1px black inset;
  }
  
  .inferior-boton button:active {
    background-color: #e8065b;
    box-shadow: 0px 0px 0px 0px black inset;
  }
  
  .estadisticas {
    text-align: center;
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .base {
      width: 90%;
      margin: 0px auto;
      box-shadow: 1px 1px 1px 1px black;
      border-radius: 50px;
      background: rgba(0, 0, 0, 1);
      overflow: hidden;
      border: 5px solid white;
      font-family: bebas, Verdana, Geneva, sans-serif;
      color: white;
    }
    .panel {
      width: 50%;
      box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 1);
      background-color: rgba(0, 0, 0, 1);
      /* display: block; */
      /* float: left; */
      position: relative;
      top: 0px;
      height: 50px;
    }
    .equipo-superior {
      width: 50%;
      float: left;
      color: white;
      height: 100%;
      overflow: hidden;
    }
    .equipo-superior img {
      width: 60px;
      margin: 0px 10px;
    }
      .float-izquierda{
          float: left !important;
      }
      .float-derecha{
          float: right !important;
      }
    .panel-superior .izquierdo {
      background: linear-gradient(to right, #e94c3d 0%, rgba(255, 146, 10, 0) 100%);
    }
    .panel-superior .izquierdo span {
      float: left;
    }
    .panel-superior .derecho span {
      float: right;
    }
    .panel-superior .derecho {
      background: linear-gradient(to right, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 1) 53%, rgba(30, 87, 153, 1) 100%);
    }
    .estadisticas p {
      height: 0px;
      font-size: 12px;
    }
    .marcadores {
      width: 50%;
      position: relative;
      height: 40px;
      overflow: hidden;
      box-shadow: 0px 0px 0px 2px #fff;
    }
    .marcadores .derecho {
      background: rgba(30, 87, 153, 1);
      box-shadow: 0px 0px 0px 3px #1e223c inset, 0px 0px 25px 0px #1e223c inset;
      border-radius: 0px 10px 10px 0px;
    }
    .marcadores .izquierdo {
      background: #e94c3d;
      box-shadow: 0px 0px 0px 3px #1e223c inset, 0px 0px 25px 0px #1e223c inset;
      border-radius: 10px 0px 0px 10px;
    }
    .marcadores div {
      float: left;
      height: 100%;
      line-height: 35px;
      text-align: center;
    }
    .marcadores div p {
      margin: 0px 0px 0px 5px;
     
      width: 60%;
      font-size: 10px;
    }
    .equipo-marcador {
      width: 33%;
    }
    .marcador-tiempo {
      width: 34%;
      font-size: 16px;
      line-height: 35px !important;
    }
    .marcador-tiempo time {
      line-height: 35px !important;
    }
    .marcador-goles {
      background: white;
      width: 25%;
      height: 25px !important;
      margin: 7px 5px;
      box-shadow: 0px 0px 0px 1px black;
      color: #1e223c;
      line-height: 22px !important;
      text-align: center;
      font-size: 16px;
    }
    .equipo-inferor {
      width: 33%;
      /* line-height: 38px; */
      /* vertical-align: middle; */
      text-align: center;
    }
    .inferior-boton {
      width: 34%;
    }
    .imagen-estrella {
      width: 16px;
      margin: 15px 0px 0px 1px;
    }
    .inferior-boton {
      text-align: center;
    }
    .inferior-boton button {
      background-color: #e8065b;
      border: 2px solid #fff;
      border-radius: 30px;
      padding: 2px 20px;
      box-shadow: 0px 0px 10px 2px black inset;
      color: #fff;
      font-weight: 600;
      margin-top: 10px;
      transition: all 0.5s ease-out;
      font-size: 16px;
    }
    .inferior-boton button:hover {
      background-color: #e8065b;
      box-shadow: 0px 0px 3px 1px black inset;
    }
    .inferior-boton button:active {
      background-color: #e8065b;
      box-shadow: 0px 0px 0px 0px black inset;
    }
    .estadisticas {
      text-align: center;
    }
  }