<div class="row g-0 justify-content-center">


    <div class="contenedorEquipo">
        <div class="base">
          <div class="panel panel-superior">
            <div class="equipo-superior izquierdo"><img alt="nombreEquipo" class="float-izquierda" src="../../../../assets/images/public/escudo_feo.png">
              <div class="estadisticas float-izquierda" style="position: absolute; right: 45%;">
                <p>Fecha</p><br>
                <p>15/06/23</p>
              </div>
             
          </div>
      
          <div class="equipo-superior derecho"><img alt="nombreEquipo" class="float-derecha" src='../../../../assets/images/public/escudo_feo.png'>
          </div>
      </div>
        </div>
        <div class="panel marcadores">
          <div class="equipo-marcador nombre izquierdo">
            <p class="float-izquierda">Brujos Morelia</p>
            <div class="marcador-goles float-derecha">2</div>
          </div>
          <div class="marcador-tiempo"><time>Finalizado</time></div>
          <div class="equipo-marcador nombre derecho">
            <p class="float-derecha">Equipo</p>
            <div class="marcador-goles float-izquierda">1</div>
          </div>
        </div>
        </div>

</div>