.surface-border {
  border: 1px solid #dfe7ef
}

.border-round {
  border-radius: 10px; /* You can adjust the value to control the roundness */
}

.custom-carousel {
  max-width: 100vw; /* Ajusta el ancho máximo según tus necesidades */
  max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
}