/* Light Theme */
body {
    --color-scheme:light;
    --color-main1:#d542b9;
    --color-main2:#3f606c;
    --color-main3:#fff;
    --color-main4: #000;
    --color-success1:#005121;
    --color-success2:#006529;
    --color-success3:#66A37F;
    --color-warning1:#DD9300;
    --color-warning2:#F5C302;
    --color-warning3:#FFF3D7;
    --color-danger1:#87141A;
    --color-danger2:#98161E;
    --color-danger3:#CB757A;
    --color-danger4:#D11B22;
    --color-gray1:#808080;
    --color-gray2:#A9A9A9;
    --color-gray3:#C0C0C0;
    --color-gray4:#F5F5F5;
    --color-gray5:#F8F8F8;
    --color-black:black;
    --color-white:white;
    --primary-font-color:#222222;
    --placeholder-color:#67737A;
}
/* END Light Theme */
