<div class="row g-0">
    <div class="col-12 px-3">
 
        <div class="card h-100">
            <img src="https://media.gq.com.mx/photos/637d17545f336e60aae30ba6/16:9/w_2560%2Cc_limit/GettyImages-1443514862.jpg" class="card-img-top" width="100px" height="250px">
            <div class="card-body">
                <h5 class="card-title">Nombre</h5>
                <p class="card-text">bio</p>
                <p class="card-text">posicion</p>
        
                <button (click)="verJugador()" type="button" class=" btn btn-outline-primary" style="width: 100%;">Ver Más...</button>
                <!-- <a [routerLink]="['heroe',i]" class=" btn btn-outline-primary" style="width: 100%;">Ver Más...</a> -->
        
            </div>
        </div>

    </div>
</div>
